<table class="table table-stripped">
  <thead>
    <tr>
      <th>Empresa / Pto. Atecnión</th>
      <th>Ejecutivo Asignado</th>
      <th>Punto en Contingencia</th>
      <th>Observación</th>
      <th></th>
    </tr>
    
  </thead>
  <tbody>
      <tr app-alerta-table-row *ngFor="let reg of alertas" [punto]="reg.nombrePunto" [ejecutivo-nombre]="reg.nombreEjecutivo" [contingencia]="reg.puntoEnContingencia" [comentarios]="reg.comentarios" ([okButtonClicked])="okButtonClicked($event)"></tr>
  
  </tbody>
  
</table>